Regular Expression(Regex):- Regular Expression or Regex is a sequence of characters that defines a search patterns.

- Regex can be used to check if string contains specific search pattern i.e. text processing.

Functions in Regex:-

    1)findall()= list
    2)sub()
    3)search()
    4)match()
    5)compile()
    6)split()

In [ ]:
1) findall():- findall returns a list containing all matches.
    Syntax- re.findall("pattern,text")

In [2]:
import re

In [29]:
import re
text = """My Mobile Number is : 9988776655,
        email id is : viratkohli@gmail.com,chetana123@gmail.com
        todays date is : 30-05-2022
        4444 5555 6666
        
        Mobile Number is : 7788776648
        """
mob=re.findall("\d{10}",text) # using special chara
mob
mob=re.findall("[0-9]{10}",text)
print(mob)

date=re.findall("[0-9]{2}[-][0-9]{2}[-][0-9]{4}",text)
print(date)

date1=re.findall("\d{2}\W\d{2}\W\d{4}",text)
print(date1)
aadhar=re.findall("[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}",text)
print(aadhar)

email=re.findall("[a-z]{2,20}[@][a-z.]{2,20}",text)
print(email)
email1=re.findall("\w{2,20}[@]\D{5}[.]\D{3}",text)
email1

#email_id=re.findall("\w{2,20}[@][a-z.]{2,20}",text1)

['9988776655', '7788776648']
['30-05-2022']
['30-05-2022']
['4444 5555 6666']
['viratkohli@gmail.com']

['viratkohli@gmail.com', 'chetana123@gmail.com']

In [4]:
import re
text = """My Mobile Number is : 9988776655,
        email id is : viratkohli@gmail.com
        todays date is : 30-05-2022
        
        Mobile Number is : 7788776648
        29-05-2021
        31-05-2012
        30-09-2022
        """
date=re.findall("[0-9]{2}[-][0-9]{2}[-][0-9]{4}", text)
date

['30-05-2022', '29-05-2021', '31-05-2012', '30-09-2022']

In [60]:
import re
text = """My Mobile Number is : 9988776655,
        email id is : viratkohli@gmail.com
        todays date is : 30-05-2022
        
        Mobile Number is : 7788776648
        29-05-2021
        31-05-2012
        30-09-2022
        30/09/2022
        30.09.2022
        """
date=re.findall("[0-9]{2}[-/.][0-9]{2}[-/.][0-9]{4}",text)
date

['30-05-2022',
 '29-05-2021',
 '31-05-2012',
 '30-09-2022',
 '30/09/2022',
 '30.09.2022']

In [19]:
text=""""PAN CARD NUMBER : ASDFG4567P
        PAN CARD NUMBER : PjIUY3456W
        PAN CARD NUMBER : POIUY3456A
          """
pan=re.findall("[A-Z]{5}[0-9]{4}[A-Z]",text)
number=re.findall("\w{5}\d{4}\w{1}",text)
print(number)
pan

['ASDFG4567P', 'PjIUY3456W', 'POIUY3456A']

['ASDFG4567P', 'POIUY3456A']

In [64]:
import re
text = """My Mobile Number is : 9988776655,
        email id is : viratkohli@gmail.com
        email id is : viratkohli123@gmail.com
        
        """
email=re.findall("[a-z0-9]{2,20}[@][a-z.]{2,20}",text)
email

['viratkohli@gmail.com', 'viratkohli123@gmail.com']

In [38]:
text="""email id is : viratkohli@gmail.com
        email id is : viratkohli123@gmail.com
        email id is : virat_kohli123@gmail.
        email id is : virat!kohli@gmail.com
        email id is : virat-kohli@vctcpune.co11.in
        """
email=re.findall("[a-z0-9-!_]{2,20}[@][a-z.0-9]{2,20}",text)
email

['viratkohli@gmail.com',
 'viratkohli123@gmail.com',
 'virat_kohli123@gmail.',
 'virat!kohli@gmail.com',
 'virat-kohli@vctcpune.co11.in']

In [1]:
text = """ Name: Vishal Vijay Tandel.
           PAN Number: AXCPT8626T
           Mobile Number : 8412835885
           DOB: 17/11/1996
           Email id: vishaltandel19@gmail.com
           aadhar number = 3456 1232 9876
           """

print(pan_number)
print(mob_number)
print(date)
print(email_id)
print(aadhar_number)

NameError: name 'pan_number' is not defined

SPECIAL CHARACTERS:-

In [1]:
text = """My Mobile Number is : 9988776655,
        email id is : viratkohli@gmail.com,chetana_123@gmail.com,ch@gmail.com
        todays date is : 30-05-2022,30/02/2023
        4444 5555 6666
        PAN:BJJPV50R
        
        
        Mobile Number is : 7788776648
        """

In [2]:
#We will use findall() to search pattern
import re #Importing Regular expression module

#To find Mobile no.
mob_no=re.findall("[0-9]{10}",text)  #using [0-9]{10}
print(mob_no)
mob=re.findall("\d{10}",text)  #using \d
print(mob)


#To find Adhar card no
adhar=re.findall("[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}",text)
print(adhar)
adhar_no=re.findall("\d{4}\s\d{4}\s\d{4}",text)  #using \d
print(adhar_no)


#To find pan card no BJJPV50R
pan=re.findall("[A-Z]{5}[0-9]{2}[A-Z]",text)
print(pan)
pan1=re.findall("\D{5}\d{2}\D",text) #using Special characteers
print(pan1)

#30-05-2024
date=re.findall("[0-9]{2}[/-][0-9]{2}[/-][0-9]{4}",text)
print(date)

#emailID:viratkohli@gmail.com,chetana_123@gmail.com,ch@gmail.com
email=re.findall("[a-z0-9_]{2,20}[@][a-z]{2,5}[.a-z]{4}",text)
print(email)

['9988776655', '7788776648']
['9988776655', '7788776648']
['4444 5555 6666']
['4444 5555 6666']
['BJJPV50R']
['is : 30-', 'BJJPV50R']
['30-05-2022', '30/02/2023']
['viratkohli@gmail.com', 'chetana_123@gmail.com', 'ch@gmail.com']

In [ ]:
1) \d:-Returns a match where string contains digit (0-9)or[0-9]

In [ ]:
2)\D:-Returns a match where string does not contains digits. Eg. spaces,special characters,letters etc[^0-9]

In [ ]:
3)\w:-Returns a match where string contains any alphanumeric character and underscore i.e.[0-9a-z_]or\w{2,20}

In [ ]:
4)\W:-Returns a match where string does not contains any alphanumeric character and underscore i.e.[^0-9a-z_] or\W

In [ ]:
5)\s:-Returns a match where string contains a white space characters.By default occurance is 1. for two spaces-\s[2]

In [ ]:
6)/s:-Returns a match where string does not contains space.

In [ ]:
7)\b:-Returns a match where characters are at begining or at end of word i.e. perfect match

In [4]:
s="a12351#h jgjkhgsf"
s1=re.findall("",s)
print(s1)

NameError: name 're' is not defined

EXAMPLES:

In [2]:
import re
text1 = """ Name: Vishal Vijay Tandel.
           PAN Number: AXCPS8626T
           Mobile Number : 8412835885
           DOB: 17/11/1996
           Email id: vishaltandel19@gmail.com
           aadhar number = 3456 1232 9876
         """


pan_number=re.findall("\D{5}\d{4}[A-Z]",text1)
mob_number=re.findall("\d{10}",text1)
date=re.findall("\d{2}[/]\d{2}[/]\d{4}",text1)
email_id=re.findall("\w{2,20}[@][a-z.]{2,20}",text1)     
aadhar_number=re.findall("\d{4}[ ]\d{4}[ ]\d{4}",text1)
name=re.findall("\D{6}\s\D{5}\s\D{6}[.]",text1)
print(pan_number)
print(mob_number)
print(date)
print(email_id)
print(aadhar_number)
print(name)

['AXCPS8626T']
['8412835885']
['17/11/1996']
['vishaltandel19@gmail.com']
['3456 1232 9876']
['Vishal Vijay Tandel.']

In [19]:
text="""chetana@123 chetanavasave"""
s=re.findall("\w{2,11}",text)
print(s)

['chetana', '123', 'chetanavasa', 've']

In [90]:
text = """  DOB: 17/11/1996               
           Email id: vishaltandel19@gmail.com
           aadhar number = 3456 1232 9876"""
x=re.findall('\D',text)
print(x)

[' ', ' ', 'D', 'O', 'B', ':', ' ', '/', '/', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'E', 'm', 'a', 'i', 'l', ' ', 'i', 'd', ':', ' ', 'v', 'i', 's', 'h', 'a', 'l', 't', 'a', 'n', 'd', 'e', 'l', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'a', 'a', 'd', 'h', 'a', 'r', ' ', 'n', 'u', 'm', 'b', 'e', 'r', ' ', '=', ' ', ' ', ' ']

In [91]:
text = """Machine learning is a field of inquiry devoted to understanding and building
methods that 'learn', that is, methods that leverage data to improve performance on some 
set of tasks. It is seen as a part of artificial intelligence"""
x=re.findall('\D{5}',text)
print(x)

['Machi', 'ne le', 'arnin', 'g is ', 'a fie', 'ld of', ' inqu', 'iry d', 'evote', 'd to ', 'under', 'stand', 'ing a', 'nd bu', 'ildin', 'g\nmet', 'hods ', 'that ', "'lear", "n', t", 'hat i', 's, me', 'thods', ' that', ' leve', 'rage ', 'data ', 'to im', 'prove', ' perf', 'orman', 'ce on', ' some', ' \nset', ' of t', 'asks.', ' It i', 's see', 'n as ', 'a par', 't of ', 'artif', 'icial', ' inte', 'llige']

In [41]:
import re
text1 = """ 
           PAN Number:   AXCPT8626T           # Valid
           PAN NUmber2 : ERTYUPOIUY3456YQWE   # Invalid
           LKJHG67890W                        # Invalid
           ASDFGH6789QWERT                    # Invalid
           AWEDF4567T                         # valid
           WERTPLMNK9870T                     # Invalid
           """

# pan_number = re.findall('[A-Z]{5}\d{4}[A-Z]',text1)
# pan_number

In [ ]:
import re
text = """ 
           PAN Number:   AXCPT8626T           # Valid
           PAN NUmber2 : ERTYUPOIUY3456YQWE   # Invalid
           LKJHG67890W                        # Invalid
           ASDFGH6789QWERT                    # Invalid
           AWEDF4567T                         # valid
           WERTPLMNK9870T                     # Invalid
           QSDFT4567QWERTYUIO                 # Invalid
           """
           
# pan_number=re.findall(r'\b\D{5}\d{4}\D\b',text)
# print(pan_number)

In [ ]:
2) Sub():- Sub function is used to replace one or many matches with the string.
        It returns the updated string text.
        Syntax:- re.sub(pattern,new string,text)

In [37]:
import re
string = "Machine learning is a field of inquiry devoted to understandingp 23 "
s=re.sub("[A-Z]{1}\D{6}\s\D{8}","Data Science",string)
print(s)

Data Science is a field of inquiry devoted to understandingp 23

In [ ]:
3) Search():-

In [5]:
import re
string = """Numbers : 
            x=987654432
            y=8876544432343
            z=887654abc
            a=8876544432"""

In [ ]:
4) match():-

In [ ]:
import re
text = """109876544
          887654443
            data
            8876544435
"""

numbers = re.match('\d{9}',text)
if numbers:
    print(numbers.group())

In [ ]:
5) split:-

In [ ]:
string = 'python 1 and 5 data 7 science'

In [2]:
set1={1,2,3,5,"adarsh"}
set1.remove(1)

In [3]:
set1

{2, 3, 5, 'adarsh'}

In [4]:
set1.discard(3)

In [5]:
set1

{2, 5, 'adarsh'}

In [6]:
set1.remove(6)

KeyError: 6

In [7]:
set1.discard(6)

In [8]:
set1

{2, 5, 'adarsh'}

In [10]:
l=[1,2,3,5,"adarsh"]
l.append(6)
l

[1, 2, 3, 5, 'adarsh', 6]

In [17]:
f=frozenset(l)
f

frozenset({1, 2, 3, 5, 6, 9, 'adarsh'})

In [18]:
f.append(10)

AttributeError: 'frozenset' object has no attribute 'append'

In [16]:
l.append(9)
l

[1, 2, 3, 5, 'adarsh', 6, 9, 9]