In [16]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [80]:
for i in range(0,11):
    print("IPCS")

IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS
IPCS

In [81]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### printing numbers from 50 to 10[50,45,40....]

In [84]:
for i in range(50,5,-5):
    print(i)

50
45
40
35
30
25
20
15
10

# 1.Sum of Numbers:

In [94]:
total = 0
n = int(input("Enter a number: "))
for i in range(1, n+ 1 ):
    total += i
print("Sum:", total)

Enter a number: 5
Sum: 15

# 2. Factorial

In [1]:
result = 1
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    result =result*i
print("Factorial:", result)

Enter a number: 9
Factorial: 362880

# 3.Table of a Number:

In [97]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

# 4.Counting Characters in a String:

In [100]:
text = str(input("Enter a string: "))#pythop
target_char = input("Enter a character to count: ")#p
count = 0

for c in text:
    if c == target_char:
        count += 1
print(f"Occurrences of '{target_char}': {count}")

Enter a string: python
Enter a character to count: a
Occurrences of 'a': 0

# 5.Calculating the average grade for a list of student grades.

In [101]:
grades = [85, 90, 78, 92, 88]
total = 0
for grade in grades:
    total += grade  #total=total+grade

average = total / len(grades)
print("Average Grade:", average)

Average Grade: 86.6

# Printing Patterns

We require 5 things
- Input : How many Rows
- for loop : 1 for rows and 1 for columns
- range(start,stop)
- print()
- end=" "

### use of end=" "

In [17]:
print("hello")
print("hi")

hello
hi

In [22]:
print("hello", end=" ")
print("hi")

hello hi

In [53]:
size = 5
for i in range(size):
    print("*" * size)

*****
*****
*****
*****
*****

In [34]:
print("#",end=" ")
print("#",end=" ")
print("#",end=" ")
print("#",end=" ")

# # # #

In [35]:
for i in range(4):
    print("#",end=" ")

# # # #

In [38]:
for i in range(4):
    print("#",end=" ")
print() #new line
for i in range(4):
    print("#",end=" ")
print() #new line
for i in range(4):
    print("#",end=" ")
print() #new line
for i in range(4):
    print("#",end=" ")

# # # #
# # # #
# # # #
# # # #

In [42]:
for i in range(4):
    for j in range(4):
        print("#",end=" ")
    print() #new line

# # # #
# # # #
# # # #
# # # #

In [2]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [48]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

In [49]:
num_rows = int(input("Enter the number of rows: "))
for i in range(num_rows + 1):
    for j in range(i+1):
        print("*", end=" ")
    print()   ##new line

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [4]:
num_rows = int(input("Enter the number of rows: "))
for i in range(num_rows + 1):
    for j in range(num_rows -i):
        print("*", end=" ")
    print()   ##new line

Enter the number of rows: 4
* * * *
* * *
* *
*

In [3]:
num_rows = int(input("Enter the number of rows: "))
for i in range(num_rows + 1):
    for j in range(num_rows -i):
        print("*", end=" ")
    print()   ##new line

Enter the number of rows: 5
* * * * *
* * * *
* * *
* *
*

In [26]:
for i in range(1,5):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [11]:
for i in range(1,5):
    for j in range(i+2):
        print(i,end=" ")
    print()

1 1 1
2 2 2 2
3 3 3 3 3
4 4 4 4 4 4

In [15]:
for i in range(1,5):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

# For loop with if

# 1.Even

In [55]:
for i in range(0,11):
    if i%2==0:
        print(i)

0
2
4
6
8
10

# 2.odd

In [56]:
for i in range(0,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [57]:
for num in range(1, 11):
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

# 3. Check Vowels

In [60]:
text = "hello world"
vowels = "aeiouAEIOU"
for char in text:
    if char in vowels:
        print(char)

e
o
o

# 4.Filtering Positive numbers

In [68]:
numbers = [5, -2, 10, -8, 7, 3]
print("Positive Numbers are:")
for num in numbers:
    if num > 0:
        print(num)

Positive Numbers are:
5
10
7
3

# 5.Identifying Palindromes:

In [69]:
words = ["level", "hello", "radar", "python"]
for word in words:
    if word == word[::-1]:
        print(word, "is a palindrome")

level is a palindrome
radar is a palindrome

# Iterating over list

In [29]:
fruits = ["apple", "banana", "orange", "grape"]
for fruit in fruits:
    print(fruit)

apple
banana
orange
grape

# Calculating Total Expenses:

In [73]:
expenses = [45.50, 12.75, 30.25, 5.00, 22.30]
total = 0
for expense in expenses:
    total += expense
print("Total expenses:", total)

Total expenses: 115.8

# Finding Maximum and Minimum Values:

In [28]:
numbers = [25, 18, 32, 47, 12, 9,100]
max_value = numbers[0]
min_value = numbers[0]
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 100
Minimum value: 9

# Searching for an Item:

In [78]:
items = ["apple", "banana", "orange", "grape"]
target_item = str(input("Enter the item you want to find: "))
found = False
for item in items:
    if item == target_item:
        found = True
        break
if found:
    print(target_item, "is in the list.")
else:
    print(target_item, "is not in the list.")

Enter the item you want to find: grape
grape is in the list.

# Printing Elements with Specific Property:

In [79]:
words = ["apple", "banana", "orange", "grape", "watermelon", "kiwi"]
for word in words:
    if len(word) > 5:
        print("Long word:", word)

Long word: banana
Long word: orange
Long word: watermelon

In [91]:
s="Hello python"
for char in s:
    if char=="H":
        print(char)

H