# Function

### Function without Return and without parameter

In [1]:
def addition():
    a=int(input("Enter first number: "))
    b=int(input("Enter 2nd number: "))
    c=a+b
    print("addition is: ",c)

In [2]:
addition()

Enter first number: 56
Enter 2nd number: 23
addition is:  79

### Function without Return and with parameter

In [8]:
def addition(a,b,u):
    c=a+b+u
    print("addition is: ",c)

In [9]:
addition(8,9,2)

addition is:  19

### Function with Return and without parameter

In [10]:
def addition():
    a=int(input("Enter first number: "))
    b=int(input("Enter 2nd number: "))
    c=a+b
    return "Addition is:",c

In [11]:
addition()

Enter first number: 56
Enter 2nd number: 23

('Addition is:', 79)

### Function with Return and with parameter

In [12]:
def addition(a,b):
    c=a+b
    return c

In [13]:
addition(45,100)

145

In [16]:
def addition(a,b):
    c=a+b
    return c
def subtraction(a,b):
    c=a-b
    return c
def multiplication(a,b):
    c=a*b
    return c
def division(a,b):
    c=a/b
    return c

In [18]:
addition(7,8)

15

In [20]:
subtraction(100,50)

50

In [21]:
multiplication(5,10)

50

In [22]:
division(50,10)

5.0

In [5]:
def wish():
    print("Hello good morning!")

In [6]:
wish()

Hello good morning!

In [7]:
def wish(name):
    print("Hello good morning!",name)

In [8]:

wish("vivek")

Hello good morning! vivek

## Print Sqaure of a number

In [14]:
n=int(input("enter number:"))
square=n*n
print("square of", n,"is", square)

enter number:12
square of 12 is 144

In [18]:
def sqr(n):
    print("The square of",n,"is",n*n)
    print(f"The square of {n} is {n*n}")

In [19]:
sqr(5)

The square of 5 is 25
The square of 5 is 25

In [25]:
def square(n):
    return n*n

In [26]:
square(5)

25

In [29]:
def cube(n):
    return n*n*n
cube(5)

125

In [28]:
def cube1(n):
    print(square(n)*n)
cube1(5)

125

## using return

In [32]:
def mult(a,b):
    return a*b

print("the multiplication is: ",mult(10,20))

the multiplication is:  200

### Write a code to check whether the given number is Even or Odd

In [33]:
def even_odd(num):
    if num%2==0:
        print(num,"is even")
    else:
        print(num,"is odd")

In [35]:
even_odd(50)

50 is even

### Write a function to find factorial of a given number

In [37]:
def fact(num):
    factorial=1
    while num>=1: ##factorial of 0 and 1=1     ##11,10,9.........
        factorial=factorial*num
        num=num-1
    return factorial

#4*3*2*1

In [38]:
fact(4)

24

In [40]:
for i in range(1,4):
    print("The factorial of",i,"is",fact(i))

The factorial of 1 is 1
The factorial of 2 is 2
The factorial of 3 is 6

### Returning Multiple Values from a Function

#in other languages like C,C++ and java function can return atmost 1 value. but in python a fn can return any no.of values

In [48]:
def sum_sub(a,b,c):
    add=a+b+c
    sub=a-b-c
    mult=a*b*c
    return add,sub,mult
x,y,z=sum_sub(100,40,10)
print("The sum is :",x)
print("The subtraction is :",y)
print("The nmultiplicatiopn is :",z)

The sum is : 150
The subtraction is : 50
The nmultiplicatiopn is : 40000

In [55]:
B=45   ##global
def my_function():
    A= 10  # Local variable
    print("The local variable is",B)

my_function()
print(B)  # This would result in an error since x is not defined in the global scope

The local variable is 45
45

In [19]:

def f1():
    global x
    x=300  #local varible
    print(x)
f1()

300

In [20]:
x

300

In [73]:
B

45

In [77]:
my_function()

The local variable is 10

In [94]:
m = 89  
def outer_function():
    v= 20  #local
    return v,m
    
    def inner_function():
        return m, "is global varible"
    
    inner_function()


outer_function()

(20, 89)

In [89]:
m

89

### Without return and without parameters

In [78]:
def sum():
    a=52
    b=45
    print(a+b)

In [79]:
sum()

97

### With parameter without return

In [80]:
def sum(a,b):
    print(a+b)

In [81]:
sum(45,52)

97

### With parameter and with return

In [83]:
def sum(a,b):
    return a+b

In [84]:
sum(45,57)

102

### Without parameter and with return

In [89]:
def sum():
    a=45
    b=78
    return a+b

In [90]:
sum()

123

# Lambda function

In [22]:
x=lambda a:a+10
print(x(5))

15

In [98]:
x=lambda a,b:a*b
print(x(10,20))

200

In [107]:
##using def keyword
def sqr(n):
    square=n*n
    print("The square of",n,"is",square)
sqr(5)

The square of 5 is 25

In [25]:
# Lambda function to calculate the square of a number
square = lambda x: x*x
# Using the lambda function
result=square(5)
print("Sqaure is:",result)

Sqaure is: 25

In [27]:
even=lambda x: x%2==0
even(45)

False

In [28]:
#with lambda: filter(),map(),reduce()

#lambda with filter sytax:(list(filter(lambda x:expression)))
numbers = [10, 23, 42, 57, 68, 73, 82]
odd_numbers = list(filter(lambda num: num % 2 != 0, numbers))
print(odd_numbers)

[23, 57, 73]

1. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and prints the result.

In [30]:
a=lambda x:x+15
a(15)

30

In [114]:
b= lambda x,y:x*y
b(4,5)

20

Write a Python program to square and cube every number in a given list of integers using Lambda.
Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cube every number of the said list:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [36]:
#lambda with map:(list(map(lambda x:expression)))

list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sqaure=list(map(lambda x:x*x*x,list1))

In [37]:
sqaure

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [127]:
import calc

ModuleNotFoundError: No module named 'calc'

In [140]:
sqrt(64)

8.0

In [141]:
factorial(8)

40320

In [144]:
import math
from math import*

In [1]:
def m1():
    x=300  #local scope
    print(x)

In [2]:
m1()

300

In [3]:
x

NameError: name 'x' is not defined

In [17]:
c=200  #globaly declared
def m1():
    print(x)  #global scop

In [5]:
m1()

200

In [6]:
x

200

In [68]:
def arithmatic():
    o=34
    p=56
    z=o+p
    print(z)
    def sub():
        a=o-p
        print(a)
    sub()

In [69]:
arithmatic()

90
-22

In [25]:
o

NameError: name 'o' is not defined

In [74]:
def arithmatic():
    global o,p
    #global p
    o=34
    p=56
    z=o+p
    print(z)

In [80]:
a=arithmatic()

90

In [88]:
def add(n):
    arithmatic()

In [89]:
add(5)

90

In [49]:
#lambda arguments:expressions
y=lambda x,y:x**y  #one liner

In [52]:
y(5,6)

15625

In [58]:
x=lambda a:a+10

In [59]:
x(3)

13

In [66]:
def f1(n):
    return lambda a:a*n
double=f1(2)
print(double(13))  #lambda
triplet=f1(3)
print(triplet(4))

26
12