In [23]:
even=lambda a:a%2==0
even(10)

True

1.Write a Python program to create a lambda function that adds 15 to a given 
number passed in as an argument, also create a lambda function that 
multiplies argument x with argument y and print the result.
Sample Output:
25
48

In [1]:
r = lambda a : a + 15
print(r(10)) 
r = lambda x, y : x * y 
print(r(12, 4))

25
48

2. Write a Python program to create a function that takes one argument, and 
that argument will be multiplied with an unknown given number.
Sample Output:
Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

In [39]:
f = lambda a: [(a*i) for i in range(2,6)]
print(f( 15))

[30, 45, 60, 75]

In [47]:
def multiplier(n): 
    return lambda x : x * n 
result = multiplier(2) 
print("Double the number of 15 =",result(15)) 
result = multiplier(3) 
print("Triple the number of 15 =",result(15)) 
result = multiplier(4) 
print("Quadruple the number of 15 =",result(15))
result = multiplier(5) 
print("Quintuple the number 15=", result(15))

Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15= 75

3 Write a Python program to sort a list of tuples using Lambda.
Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [3]:
l=[('English', 88), ('science', 90), ('Maths', 97), ('Social sciences', 82)]
l.sort(key=lambda x:len(x [0]),reverse =True)
print("sorted list is:",l)

sorted list is: [('Social sciences', 82), ('English', 88), ('science', 90), ('Maths', 97)]

4. Write a Python program to sort a list of dictionaries using Lambda.
Original list of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 
'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
Sorting the List of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [4]:
l1=[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': 2, 
'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
l1.sort(key=lambda x: (x['model']),reverse=True)
l1

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Mi Max', 'model': 2, 'color': 'Gold'}]

5. Write a Python program to filter a list of integers using Lambda.
Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers from the said list:
[2, 4, 6, 8, 10]
Odd numbers from the said list:
[1, 3, 5, 7, 9]

In [18]:
my_list=[1,2,3,4,5,6,7,8,9,10]
even=list(filter(lambda x:x%2==0,my_list))
print("Even no. from the said list are:",even)         
odd=list(filter(lambda x:x%2!=0,my_list))         
print("odd no. from the said list are:",odd)

Even no. from the said list are: [2, 4, 6, 8, 10]
odd no. from the said list are: [1, 3, 5, 7, 9]

6. Write a Python program to square and cube every number in a given list of 
integers using Lambda.
Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cube every number of the said list:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [23]:
original_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square=list(map(lambda x:x**2,original_list))
print ("square every no. of the list:",square)
cube= list(map(lambda x:x**3,original_list))             
print ("cube every no. of the list:",cube)

square every no. of the list: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
cube every no. of the list: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

7. Write a Python program to find if a given string starts with a given character 
using Lambda.
Sample Output:
True
False

In [24]:
starts_with = lambda x: True if x.startswith('P') else False 
print(starts_with('Python')) 
starts_with = lambda x: True if x.startswith('P') else False 
print(starts_with('Java'))

True
False

8. Write a Python program to extract year, month, date and time using 
Lambda.
Sample Output:
2020-01-15 09:03:32.744178
2020
1
15
09:03:32.744178

In [27]:
import datetime 
now = datetime.datetime.now()
print(now) 
year = lambda x: x.year 
month = lambda x: x.month
day = lambda x: x.day
t = lambda x: x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2022-07-19 12:56:39.744317
2022
7
19
12:56:39.744317

9. Write a Python program to create Fibonacci series upto n using Lambda.
Fibonacci series upto 2:
[0, 1]
Fibonacci series upto 5:
[0, 1, 1, 2, 3]
Fibonacci series upto 6:
[0, 1, 1, 2, 3, 5]
Fibonacci series upto 9:
[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [60]:

from functools import reduce
fib_series = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]], range(n-2), [0, 1]) 
print("Fibonacci series upto 2:") 
print(fib_series(2)) 
print("\nFibonacci series upto 5:") 
print(fib_series(5))
print("\nFibonacci series upto 6:") 
print(fib_series(6))
print("\nFibonacci series upto 9:") 
print(fib_series(9))

Fibonacci series upto 2:
[0, 1]

Fibonacci series upto 5:
[0, 1, 1, 2, 3]

Fibonacci series upto 6:
[0, 1, 1, 2, 3, 5]

Fibonacci series upto 9:
[0, 1, 1, 2, 3, 5, 8, 13, 21]

10. Write a Python program to find intersection of two given arrays using 
Lambda.
Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]
[1, 2, 4, 8, 9]
Intersection of the said arrays: [1, 2, 8, 9]

In [64]:
arr=[1, 2, 3, 5, 7, 8, 9, 10]
arr1=[1, 2, 4, 8, 9]
arr2=list(filter(lambda x:x in arr1, arr ))
print(arr2)

[1, 2, 8, 9]

11. Write a Python program to count the even, odd numbers in a given array 
of integers using Lambda.
Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]
Number of even numbers in the above array: 3
Number of odd numbers in the above array: 5

In [1]:

numbers = [1, 2, 3, 5, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))

# Count
count_even = len(even_numbers)
count_odd = len(odd_numbers)
print("Original array:")
print(numbers)
print(f"Number of even numbers in the above array: {count_even}")
print(f"Number of odd numbers in the above array: {count_odd}")

Original array:
[1, 2, 3, 5, 7, 8, 9, 10]
Number of even numbers in the above array: 3
Number of odd numbers in the above array: 5